.background{
    -fx-background-image: url("output-onlinepngtools.jpg");
    -fx-background-size: 1000.0 800.0;
}
.menue{
    -fx-background-image: url("muss.jpg");
    -fx-background-size: 1000.0 800.0;
    -fx-background-repeat: no-repeat;
    }